<div class="card controls-div">
  <a id="play-button" class="btn btn-default btn-raised btn-material-light-green run-button"><i class="mdi-content-forward"></i></a>
<!--   <a id="stop-button" class="btn btn-default btn-raised btn-material-red run-button disabled"><i class="mdi-content-clear "></i></a> -->
<!--   <a id="man-button" class="btn btn-default btn-raised  btn-material-light-blue run-button "><i class="mdi-action-help "></i></a> -->
</div>