<!DOCTYPE html>
<html>
  <head>
    <title>MUCE</title>
  </head>
  <body>
    <div class="input-div">
      <div>
        <textarea class="input-textarea" id="text-input"></textarea>
        <div id="go-button"><button>GO</button></div>
      </div>
    </div>
  </body>
</html>